body {
    background: #F6D891;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Restaurant {
    color: tomato;
    text-align: center;
}

span {
    color: whitesmoke;
}

.container {
    display: grid;
    grid-gap: 10px;
}

nav {
    display: block;
}

.container ul {
    display: grid;
    grid-gap: 5px;
    padding: 0;
    margin: 1em;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    font-size: 1.3em;
}

li {
    display: list-item;
    text-align: inherit;
}

.topbar a {
    background: #FFEEC6;
    display: block;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}

.menu {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.foods {
    background: #FF8D8B;
    padding: 2em;
    margin: 15px;
    border: 1px solid #FF8D8B;
    text-align: center;
}

.foods img {
    max-width: 100%;
    max-height: 100%;
}

.foods .water {
    max-height: 50%;
}

.foods .tea {
    max-height: 50%;
}